In [143]:
#importing necessary libraries/ packages
import numpy as np
import pandas as pd
import sklearn
import os
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier
le = preprocessing.LabelEncoder()

In [144]:
#Importing the csv file wrt columns, comments and blank spaces
filename = 'gsoc_data.csv'
data = pd.read_csv(filename, na_values = '-')
data.head(5)

# variant_category: 0 --> Benign, 1 --> Pathogenic, 2 --> Uncertain

  gene_name identifier  variant_category
0      A1BG     P04217                 0
1      A1BG     P04217                 0
2      A1CF     Q9NQ94                 0
3      A1CF     Q9NQ94                 0
4       A2M     P01023                 0

In [ ]:
#Encoding the categorical variables 
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
data['gene_name']=le.fit_transform(data['gene_name']).astype('str')
data['identifier']=le.fit_transform(data['identifier']).astype('str')

In [17]:
data

      gene_name identifier  variant_category
0             0       1765                 0
1             0       1765                 0
2             1      11369                 0
3             1      11369                 0
4             2       1604                 0
...         ...        ...               ...
81087     12950        682                 0
81088     12950        682                 0
81089     12950        682                 0
81090     12950        682                 0
81091     12951       7679                 2

[81092 rows x 3 columns]

In [59]:
#Extracting Independent and dependent Variable  

x= data.iloc[:, [0,1]].values  #Feature variables
y= data.iloc[:, 2].values  #Target Variable

In [92]:
x

array([['0', '1765'],
       ['0', '1765'],
       ['1', '11369'],
       ...,
       ['12950', '682'],
       ['12950', '682'],
       ['12951', '7679']], dtype=object)

In [93]:
y

array([0, 0, 0, ..., 0, 0, 2], dtype=int64)

In [60]:
# Splitting the dataset into training and test set.  
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.25, random_state=0)

In [61]:
x_train

array([['1833', '3929'],
       ['11889', '1712'],
       ['5962', '6095'],
       ...,
       ['6407', '4341'],
       ['6540', '8587'],
       ['10545', '10425']], dtype=object)

In [64]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(x_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(x_test)

In [79]:
x_test

array([['10440', '3714'],
       ['12093', '2161'],
       ['1936', '3589'],
       ...,
       ['1345', '9717'],
       ['10226', '764'],
       ['1865', '2796']], dtype=object)

In [85]:
y_pred

array([1, 1, 0, ..., 0, 1, 0], dtype=int64)

In [65]:
# Model Accuracy, how often is the classifier correct?
from sklearn import metrics 
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.784984955359345

In [66]:
import pickle
# Save trained model to file
pickle.dump(clf, open("gsoc.pkl", "wb"))
loaded_model = pickle.load(open("gsoc.pkl", "rb"))
loaded_model.predict(x_test)
loaded_model.score(x_test,y_test)

0.784984955359345

In [90]:
#################################################################################################################

In [124]:
'''dicti = {'gene_name':'AAAS', 'identifier':'Q9NRG9'}
df = pd.DataFrame(dicti, index = [0])
df'''

  gene_name identifier
0      AAAS     Q9NRG9

In [128]:
'''test_data = pd.concat([data, df], axis=0, ignore_index=True)
test_data'''

      gene_name identifier  variant_category
0             0       3817               0.0
1             0       3817               0.0
2             1       1524               0.0
3             1       1524               0.0
4          4064       3639               0.0
...         ...        ...               ...
81088      3281       9433               0.0
81089      3281       9433               0.0
81090      3281       9433               0.0
81091      3282      10387               2.0
81092      AAAS     Q9NRG9               NaN

[81093 rows x 3 columns]

In [129]:
'''test_data.iloc[[-1], [0,1]]'''

      gene_name identifier
81092      AAAS     Q9NRG9

In [131]:
'''test_data['gene_name']=le.fit_transform(test_data['gene_name']).astype('str')
test_data['identifier']=le.fit_transform(test_data['identifier']).astype('str')'''

In [132]:
'''test_data'''

      gene_name identifier  variant_category
0             0       6097               0.0
1             0       6097               0.0
2             1       3550               0.0
3             1       3550               0.0
4          6359       5899               0.0
...         ...        ...               ...
81088      5489      12337               0.0
81089      5489      12337               0.0
81090      5489      12337               0.0
81091      5490        433               2.0
81092     12952      12965               NaN

[81093 rows x 3 columns]

In [141]:
'''input_data = test_data.iloc[[-1], [0,1]]
input_data'''

      gene_name identifier
81092     12952      12965

In [142]:
'''output = clf.predict(input_data)
print(output)'''

[1]

c:\users\sindhu\appdata\local\programs\python\python38\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(